# Ignore bin and obj folders in all subdirectories
**/bin/*
**/obj/*

# Optional: Exclude common unnecessary files
*.swp
*.*~
.DS_Store
*.pyc

# Visual Studio Code
.vscode/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/
